<ul class="title">
  <li><a href="/">Chris Fields</a></li>
</ul>

<ul class="main-navigation icons-ul">

  <li class="other"><i class="icon-lightbulb icon-large icon-style icon-li"></i> <a href="/">Blog</a></li>

  <li class="other"><i class="icon-beaker icon-large icon-style icon-li"></i> <a href="{{ root_url }}/projects">Projects</a></li>

  <li class="other"><i class="icon-github icon-large icon-style icon-li"></i> <a target="_blank" href="https://github.com/pifst" target="_blank">GitHub</a></li>

  <li class="other"><i class="icon-file-text-alt icon-large icon-style icon-li"></i> <a target="_blank" href="http://www.linkedin.com/in/csffsc/">Resume</a></li>

  <li class="other"><i class="icon-rocket icon-large icon-style icon-li"></i> <a href="mailto:chris@csfields.com">Contact</a></li>
</ul>

{% if site.simple_search %}

<ul class="subscription" data-subscription="rss">

<section id="code">

<form action="{{ site.simple_search }}" method="get">
  <div class="input-prepend">
   <fieldset role="search">

      <input type="hidden" name="q" value="site:{{ site.url | shorthand_url }}" />
      <input class="search" type="text" name="q" style="width:100px" results="0" placeholder="Search"/>
    </fieldset>
  </div>
</form>

</ul>
</section>
  {% endif %}
{% include custom/navigation.html %}

